{% extends 'tests/base.html' %}
{% load static %}

{% block content %}

<div class="help">
    <h1>ПОМОЩЬ</h1>
    <h2>1.	Создание нового пользователя</h2>
    <p>1.1.	Для создания нового пользователя необходимо зайти в приложение от имени администратора (shorn)</p>
    <img src="{% static 'tests/img/img_2.png' %}" alt="">
    <p>1.2.	После входа от имени администратора вы увидите страницу с результатами прохождения тестирования различными пользователями</p>
    <img src="{% static 'tests/img/img_3.png' %}" alt="">
    <p>1.3.	Теперь необходимо перейти в админ панель для этого изменим адрес запроса с <a href="/administer">http://127.0.0.1:1337/administer</a> на <a href="/admin" target="_blank">http://127.0.0.1:1337/admin</a>, после чего откроется админ панель</p>
    <img src="{% static 'tests/img/img_4.png' %}" alt="">
    <p>1.4.	В админ панеле переходим в раздел "Информация о тестируемых пользователях"</p>
    <img src="{% static 'tests/img/img_5.png' %}" alt="">
    <p>1.5.	На открывшейся странице выбираем "ДОБАВИТЬ ИНФОРМАЦИЮ О ТЕСТИРУЕМОМ ПОЛЬЗОВАТЕЛЕ"</p>
    <img src="{% static 'tests/img/img_6.png' %}" alt="">
    <p>1.6.	В открывшемся окне геобходимо заполнить информацию о тестируемом пользователе</p>
    <img src="{% static 'tests/img/img_7.png' %}" alt="">
    <p>1.7.	Для этого нажимаем на " + "</p>
    <img src="{% static 'tests/img/img_8.png' %}" alt="">
    <p>1.8.	И в открывшемся диологовом окне создаем пользователя задавая ему логин и придумывая пароль и вконце сохраняем результат</p>
    <img src="{% static 'tests/img/img_9.png' %}" alt="">
    <p>1.9.	После возврата на предыдущую страницу заполняем остальные данные по пользователю так что бы результата выглядил приблизительно следующим образом</p>
    <img src="{% static 'tests/img/img_10.png' %}" alt="">
    <p>Обратите внимание что информация в поле "Список доступных для пользователя тестов и отметка о их прохождении:" приведена в JSON формате:</p>
    <br>
    <pre>
      [
        {
            "ended": true,
            "answer_id": 2,
            "name_test": "Тест Кеттелла"
        },
        {
            "ended": true,
            "answer_id": 2,
            "name_test": "Тест СМИЛ"
        },
        {
            "ended": true,
            "answer_id": 2,
            "name_test": "Тест УСК"
        },
        {
            "ended": true,
            "answer_id": 3,
            "name_test": "Тест для прогрессивных матриц Равена"
        },
        {
            "ended": true,
            "answer_id": 3,
            "name_test": "Тест для сложных аналогий"
        }
      ]
    </pre>
    <br>
    <p>В разделе <b>ended</b> установлен флаг прохождения теста true - пройден, false - не пройден;</p>
    <p>В разделе <b>answer_id</b> установлено число-ссылка на соответствующий идентификатор ответа по соответствующему тесту;</p>
    <p>В разделе <b>name_test</b> установлен требуемый для прохождения тест (доступно пять вариантов: Тест Кеттелла, Тест СМИЛ, Тест УСК, Тест для прогрессивных матриц Равена, Тест для сложных аналогий)</p>
    <br>
    <p>Для установки начальных значений необходимо установить следующие:</p>
    <br>
    <pre>
      [
        {
            "ended": false,
            "answer_id": -1,
            "name_test": "Тест Кеттелла"
        },
        {
            "ended": false,
            "answer_id": -1,
            "name_test": "Тест СМИЛ"
        },
        {
            "ended": false,
            "answer_id": -1,
            "name_test": "Тест УСК"
        },
        {
            "ended": false,
            "answer_id": -1,
            "name_test": "Тест для прогрессивных матриц Равена"
        },
        {
            "ended": false,
            "answer_id": -1,
            "name_test": "Тест для сложных аналогий"
        }
      ]
    </pre>
    <br>
    <p>После заполнения всех полей необходимо нажать на кнопку "СОХРАНИТЬ", после чего создание пользователя будет завершено.</p>

</div>

{% endblock %}