{% extends 'tests/base-answers.html' %}

{% block content %}
<div class="wrap">
    <h1 class="title">Сводные данные о результатах тестирования.</h1>
</div>
<div class="wrap">
    <div class="table-wrapper">
        <table class="card-list-table person-data">
            <tbody>
                <tr>
                    <td class="person-title">Идентификатор пользователя:</td>
                    <td>{{user.uuid}}</td>
                </tr>
                <tr>
                    <td class="person-title">Фамилия:</td>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <td class="person-title">Имя:</td>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <td class="person-title">Отчество:</td>
                    <td>{{user.patronymic}}</td>
                </tr>
                <tr>
                    <td class="person-title">Проверка на соответствие уровня ПВК:</td>
                    <td>
                        {% if user.piq == 3 %}
                            ПВК III
                        {% elif user.piq == 4 %}
                            ПВК IV
                        {% elif user.piq == 5 %}
                            ПВК V
                        {% elif user.piq == 6 %}
                            ПВК VI
                        {% elif user.piq == 7 %}
                            ПВК VII
                        {% endif %}     
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="wrap">
    <div class="table-wrapper">
        <table class="table-responsive card-list-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>ПВК</th>
                    <th>Характеристики ПВК</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
            {% if user.piq == 3 %}
                <tr>
                    <td data-title="Column #1">1</td>
                    <td data-title="Column #2">Интеллектуальное развитие, способность к логически суждениям и умозаключениям, к четкому изложению информации в устной и письменной форме</td>
                    <td data-title="Column #3">Уровень интеллектуального развития и  способность к систематизированной, планомерной, методичной интеллектуальной деятельности (логичность мышления) (Методика: "Прогрессивные матрицы Равена"</td>
                    <td data-title="Column #4">{{rpm.results.percent_correct_results}} %</td>
                </tr>

                <tr>
                    <td rowspan="2" data-title="Column #1">2</td>
                    <td rowspan="2" data-title="Column #2">Эмоциональная устойчивость, уравновешенность, самоконтроль поведения и внешних проявлений эмоций, эмоциональная зрелость</td>
                    <td data-title="Column #3">Эмоциональная устойчивость, уравновешенность (Методика: "Тест Кеттелла"(фактор С))</td>
                    <td data-title="Column #4">{{kettel.results.factor_C.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Эмоциональность, самоанализ, рассудительность (Методика: "Тест Кеттелла"(фактор F))</td>
                    <td data-title="Column #4">{{kettel.results.factor_F.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">3</td>
                    <td rowspan="4" data-title="Column #2">Уровень волевой регуляции поведения, энергичночть, выдержка, смелость, решительность, настойчивость целеустремленность, работоспособность</td>
                    <td data-title="Column #3">Степень общительности в группе (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Настойчивость, конфликтность (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Решительнось, общительность, уверенность в своих силах (Методика: "Тест Кеттелла"(фактор Н))</td>
                    <td data-title="Column #4">{{kettel.results.factor_H.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Сдержанность, расчетливость, тактичность (Методика: "Тест Кеттелла"(фактор N))</td>
                    <td data-title="Column #4">{{kettel.results.factor_N.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">4</td>
                    <td data-title="Column #2">Внутреняя организованнность, исполнительность, дисциплинированность, чувство долга, ответственность</td>
                    <td data-title="Column #3">Дисциплинированность, ответственность (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="3" data-title="Column #1">5</td>
                    <td rowspan="3" data-title="Column #2">Уровень правосознания и нравственных убеждений, честность, принципиальность, соблюдение норм общественной морали</td>
                    <td data-title="Column #3">Несогласие с общепринятыми моральными нормами и стандартами (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Честность, принципиальность, добросовестность (Методика: "Тест Кеттелла"(фактор М))</td>
                    <td data-title="Column #4">{{kettel.results.factor_M.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен  (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="3" data-title="Column #1">6</td>
                    <td rowspan="3" data-title="Column #2">Зрелость личности, способность брать на себя ответственность за принятие решения, за свои действия и поступки; умение определять приоритеты и последовательность решения проблем; самостоятельность, уверенность в своих силах, самокритичность</td>
                    <td data-title="Column #3">Инертность в принятии решений, сверхответственность, сочетающаяся с тенденцией к избеганию серьезной ответственности (методика: "Тест MMPI" (шкала 1))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_1.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Высокий уровень осознания имеющихся проблем через призму неудовлетворенности и пессимистической оценки своих перспектив; склонность к раздумьям, инертность в принятии решений, выраженная глубина переживаний, аналитический склад ума, скептицизм, самокритичность, некоторая неуверенность в себе, в своих возможностях (методика: "Тест MMPI" (шкала 2))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_2.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Устойчивость интересов, упорство в отстаивании собственного мнения, стеничность установок, активность позиции, усиливающуюся при противодействии внешних сил, практичность, трезвость взглядов на жизнь, стремление к опоре на собственный опыт, синтетический склад ума с выраженным тропизмом к системным построениям, к сферам конкретных знаний, к точным наукам (методика: "Тест MMPI" (шкала 6))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_6.sten}}</td>
                </tr>

            {% elif user.piq == 4 %}
                <tr>
                    <td data-title="Column #1">1</td>
                    <td data-title="Column #2">Интеллектуальное развитие, способность к логически суждениям и умозаключениям, к четкому изложению информации в устной и письменной форме</td>
                    <td data-title="Column #3">Уровень интеллектуального развития и  способность к систематизированной, планомерной, методичной интеллектуальной деятельности (логичность мышления) (Методика: "Прогрессивные матрицы Равена"</td>
                    <td data-title="Column #4">{{rpm.results.percent_correct_results}} %</td>
                </tr>

                <tr>
                    <td data-title="Column #1">2</td>
                    <td data-title="Column #2">Эмоциональная устойчивость, уравновешенность, самоконтроль поведения и внешних проявлений эмоций, эмоциональная зрелость</td>
                    <td data-title="Column #3">Контроль в ситуациях достижения, в ситуациях неудачи, в области производственных, в области здоровья. (Методика: "Уровень субъективного контроля")</td>
                    <td data-title="Column #4">{{scl.results.scale_Io.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">3</td>
                    <td rowspan="4" data-title="Column #2">Уровень волевой регуляции поведения, энергичночть, выдержка, смелость, решительность, настойчивость целеустремленность, работоспособность</td>
                    <td data-title="Column #3">Степень общительности в группе (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Настойчивость, конфликтность (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Решительнось, общительность, уверенность в своих силах (Методика: "Тест Кеттелла"(фактор Н))</td>
                    <td data-title="Column #4">{{kettel.results.factor_H.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Сдержанность, расчетливость, тактичность (Методика: "Тест Кеттелла"(фактор N))</td>
                    <td data-title="Column #4">{{kettel.results.factor_N.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">4</td>
                    <td data-title="Column #2">Внутреняя организованнность, исполнительность, дисциплинированность, чувство долга, ответственность</td>
                    <td data-title="Column #3">Дисциплинированность, ответственность (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="3" data-title="Column #1">5</td>
                    <td rowspan="3" data-title="Column #2">Уровень правосознания и нравственных убеждений, честность, принципиальность, соблюдение норм общественной морали</td>
                    <td data-title="Column #3">Несогласие с общепринятыми моральными нормами и стандартами (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Честность, принципиальность, добросовестность (Методика: "Тест Кеттелла"(фактор М))</td>
                    <td data-title="Column #4">{{kettel.results.factor_M.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен  (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">6</td>
                    <td rowspan="4" data-title="Column #2">Зрелость личности, способность брать на себя ответственность за принятие решения, за свои действия и поступки; умение определять приоритеты и последовательность решения проблем; самостоятельность, уверенность в своих силах, самокритичность</td>
                    <td data-title="Column #3">Самоуверенность, ответственность (Методика: "Тест Кеттелла"(фактор I))</td>
                    <td data-title="Column #4">{{kettel.results.factor_I.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Собственная значимость, самомнение (Методика: "Тест Кеттелла"(фактор L))</td>
                    <td data-title="Column #4">{{kettel.results.factor_L.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Самостоятельность, может господствовать, не нуждается в поддержке других людей, независимость (Методика: "Тест Кеттелла"(фактор Q2))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q2.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен  (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="2" data-title="Column #1">7</td>
                    <td rowspan="2" data-title="Column #2">Самооценка, устойчивая мотивация достижения успеха к достижению успеха на основе самореализации и саморазвития в конкретной профессиональной деятельности</td>
                    <td data-title="Column #3">Самоуверенность, самонадеянность, чувство долга, спокойствие (Методика: "Тест Кеттелла"(фактор О))</td>
                    <td data-title="Column #4">{{kettel.results.factor_O.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="2" data-title="Column #1">8</td>
                    <td rowspan="2" data-title="Column #2">Стрессоустойчивость в экстремальных ситуациях</td>
                    <td data-title="Column #3">Неуверенность в себе и в стабильности ситуации, высокую чувствительность и подвластность средовым воздействиям, повышенную чуткость к опасности (методика: "Тест MMPI" (шкала 7))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_7.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Инертность в принятии решений, скрытность, избирательность в контактах, стремление к избеганию конфликтов, в ситуации стресса — заторможенность (методика: "Тест MMPI" (шкала 10))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_10.sten}}</td>
                </tr>

            {% elif user.piq == 5 or user.piq == 6 %}
                <tr>
                    <td data-title="Column #1">1</td>
                    <td data-title="Column #2">Интеллектуальное развитие, способность к логически суждениям и умозаключениям, к четкому изложению информации в устной и письменной форме</td>
                    <td data-title="Column #3">Уровень интеллектуального развития и  способность к систематизированной, планомерной, методичной интеллектуальной деятельности (логичность мышления) (Методика: "Прогрессивные матрицы Равена"</td>
                    <td data-title="Column #4">{{rpm.results.percent_correct_results}} %</td>
                </tr>

                <tr>
                    <td data-title="Column #1">2</td>
                    <td data-title="Column #2">Эмоциональная устойчивость, уравновешенность, самоконтроль поведения и внешних проявлений эмоций, эмоциональная зрелость</td>
                    <td data-title="Column #3">Контроль в ситуациях достижения, в ситуациях неудачи, в области производственных, в области здоровья. (Методика: "Уровень субъективного контроля")</td>
                    <td data-title="Column #4">{{scl.results.scale_Io.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">3</td>
                    <td rowspan="4" data-title="Column #2">Уровень волевой регуляции поведения, энергичночть, выдержка, смелость, решительность, настойчивость целеустремленность, работоспособность</td>
                    <td data-title="Column #3">Степень общительности в группе (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Настойчивость, конфликтность (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Решительнось, общительность, уверенность в своих силах (Методика: "Тест Кеттелла"(фактор Н))</td>
                    <td data-title="Column #4">{{kettel.results.factor_H.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Сдержанность, расчетливость, тактичность (Методика: "Тест Кеттелла"(фактор N))</td>
                    <td data-title="Column #4">{{kettel.results.factor_N.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">4</td>
                    <td data-title="Column #2">Внутреняя организованнность, исполнительность, дисциплинированность, чувство долга, ответственность</td>
                    <td data-title="Column #3">Дисциплинированность, ответственность (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="3" data-title="Column #1">5</td>
                    <td rowspan="3" data-title="Column #2">Уровень правосознания и нравственных убеждений, честность, принципиальность, соблюдение норм общественной морали</td>
                    <td data-title="Column #3">Несогласие с общепринятыми моральными нормами и стандартами (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Честность, принципиальность, добросовестность (Методика: "Тест Кеттелла"(фактор М))</td>
                    <td data-title="Column #4">{{kettel.results.factor_M.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен  (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">6</td>
                    <td rowspan="4" data-title="Column #2">Зрелость личности, способность брать на себя ответственность за принятие решения, за свои действия и поступки; умение определять приоритеты и последовательность решения проблем; самостоятельность, уверенность в своих силах, самокритичность</td>
                    <td data-title="Column #3">Самоуверенность, ответственность (Методика: "Тест Кеттелла"(фактор I))</td>
                    <td data-title="Column #4">{{kettel.results.factor_I.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Собственная значимость, самомнение (Методика: "Тест Кеттелла"(фактор L))</td>
                    <td data-title="Column #4">{{kettel.results.factor_L.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Самостоятельность, может господствовать, не нуждается в поддержке других людей, независимость (Методика: "Тест Кеттелла"(фактор Q2))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q2.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="2" data-title="Column #1">8</td>
                    <td rowspan="2" data-title="Column #2">Стрессоустойчивость в экстремальных ситуациях</td>
                    <td data-title="Column #3">Неуверенность в себе и в стабильности ситуации, высокую чувствительность и подвластность средовым воздействиям, повышенную чуткость к опасности (методика: "Тест MMPI" (шкала 7))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_7.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Инертность в принятии решений, скрытность, избирательность в контактах, стремление к избеганию конфликтов, в ситуации стресса — заторможенность (методика: "Тест MMPI" (шкала 10))</td>
                    <td data-title="Column #4">{{mmpi.results.scale_10.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">9</td>
                    <td data-title="Column #2">Способность поддержания оптимального уровня ратоспособности в штатных условиях монотонности и экстремальных условиях</td>
                    <td data-title="Column #3">Степень концентрации, распределения и устойчивости внимания; работоспособности (Методика: "Корректурная проба Бурдона")</td>
                    <td data-title="Column #4">нет в тестировании</td>
                </tr>

            {% elif user.piq == 7 %}
                <tr>
                    <td data-title="Column #1">1</td>
                    <td data-title="Column #2">Интеллектуальное развитие, способность к логически суждениям и умозаключениям, к четкому изложению информации в устной и письменной форме</td>
                    <td data-title="Column #3">Уровень интеллектуального развития и  способность к систематизированной, планомерной, методичной интеллектуальной деятельности (логичность мышления) (Методика: "Прогрессивные матрицы Равена"</td>
                    <td data-title="Column #4">{{rpm.results.percent_correct_results}} %</td>
                </tr>

                <tr>
                    <td rowspan="2" data-title="Column #1">2</td>
                    <td rowspan="2" data-title="Column #2">Эмоциональная устойчивость, уравновешенность, самоконтроль поведения и внешних проявлений эмоций, эмоциональная зрелость</td>
                    <td data-title="Column #3">Эмоциональная устойчивость, уравновешенность (Методика: "Тест Кеттелла"(фактор С))</td>
                    <td data-title="Column #4">{{kettel.results.factor_C.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Эмоциональность, самоанализ, рассудительность (Методика: "Тест Кеттелла"(фактор F))</td>
                    <td data-title="Column #4">{{kettel.results.factor_F.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">3</td>
                    <td rowspan="4" data-title="Column #2">Уровень волевой регуляции поведения, энергичночть, выдержка, смелость, решительность, настойчивость целеустремленность, работоспособность</td>
                    <td data-title="Column #3">Степень общительности в группе (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Настойчивость, конфликтность (Методика: "Тест Кеттелла"(фактор А))</td>
                    <td data-title="Column #4">{{kettel.results.factor_A.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Решительнось, общительность, уверенность в своих силах (Методика: "Тест Кеттелла"(фактор Н))</td>
                    <td data-title="Column #4">{{kettel.results.factor_H.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Сдержанность, расчетливость, тактичность (Методика: "Тест Кеттелла"(фактор N))</td>
                    <td data-title="Column #4">{{kettel.results.factor_N.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">4</td>
                    <td data-title="Column #2">Внутреняя организованнность, исполнительность, дисциплинированность, чувство долга, ответственность</td>
                    <td data-title="Column #3">Дисциплинированность, ответственность (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="3" data-title="Column #1">5</td>
                    <td rowspan="3" data-title="Column #2">Уровень правосознания и нравственных убеждений, честность, принципиальность, соблюдение норм общественной морали</td>
                    <td data-title="Column #3">Несогласие с общепринятыми моральными нормами и стандартами (Методика: "Тест Кеттелла"(фактор G))</td>
                    <td data-title="Column #4">{{kettel.results.factor_G.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Честность, принципиальность, добросовестность (Методика: "Тест Кеттелла"(фактор М))</td>
                    <td data-title="Column #4">{{kettel.results.factor_M.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен  (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td rowspan="4" data-title="Column #1">6</td>
                    <td rowspan="4" data-title="Column #2">Зрелость личности, способность брать на себя ответственность за принятие решения, за свои действия и поступки; умение определять приоритеты и последовательность решения проблем; самостоятельность, уверенность в своих силах, самокритичность</td>
                    <td data-title="Column #3">Самоуверенность, ответственность (Методика: "Тест Кеттелла"(фактор I))</td>
                    <td data-title="Column #4">{{kettel.results.factor_I.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Собственная значимость, самомнение (Методика: "Тест Кеттелла"(фактор L))</td>
                    <td data-title="Column #4">{{kettel.results.factor_L.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Самостоятельность, может господствовать, не нуждается в поддержке других людей, независимость (Методика: "Тест Кеттелла"(фактор Q2))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q2.sten}}</td>
                </tr>
                <tr>
                    <td data-title="Column #3">Cамолюбие, самоконтроль, точный, волевой, может подчинить себе, действует по осознанному плану, эффективный лидер, принимает социальные нормы, контролирует свои эмоции и поведение, доводит дело до конца, целенаправлен (Методика: "Тест Кеттелла"(фактор Q3))</td>
                    <td data-title="Column #4">{{kettel.results.factor_Q3.sten}}</td>
                </tr>

                <tr>
                    <td data-title="Column #1">9</td>
                    <td data-title="Column #2">Способность поддержания оптимального уровня ратоспособности в штатных условиях монотонности и экстремальных условиях</td>
                    <td data-title="Column #3">Степень концентрации, распределения и устойчивости внимания; работоспособности (Методика: "Корректурная проба Бурдона")</td>
                    <td data-title="Column #4">нет в тестировании</td>
                </tr>
            {% endif %}   
            </tbody>
        </table>
    </div>
</div>
{% endblock %}